@import "tailwindcss";

:root {
  --background: #f2f5f3;
  --foreground: #111827;
  --nira-green: #1e3d2b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
}
